@model BO.Pizza

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    @Html.Partial("_PizzaDetails",Model)
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
