@model PremierSite.Models.Personne

<div>
    @Html.Partial("_PersonneDetails",Model)
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
